/* ================= MEDIA SCREEN ================= */
/* ================= X-Small Devices (Portrait Phones) ================= */
@media (max-width: 575.98px) {}

/* ================= Small Devices (Landscape Phones) ================= */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* ================= Medium Devices (Tablets) ================= */
@media (min-width: 768px) and (max-width: 991.98px) {
	.space_section {
		padding: 60px 0;
	}

	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 27px;
		margin-bottom: 15px;
		line-height: 1.25;
	}

	h3,
	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px;
	}
}

/* ================= Large Devices (Desktop) ================= */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.space_section {
		padding: 70px 0;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}

	h3,
	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 17px;
	}

	h6,
	p {
		font-size: 14px;
	}
}

/* ================= X-Large (Large Desktop) ================= */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* ================= XX-Large (Huge Desktop) ================= */
@media (min-width: 1400px) {}

/* ================= Options Devices (All Devices) ================= */
@media (max-width: 767.98px) {
	.space_section {
		padding: 50px 0;
	}

	h1,
	h2 {
		font-size: 32px;
	}

	h3,
	h4 {
		font-size: 21px;
	}

	h5 {
		font-size: 15px;
	}

	h6,
	p {
		font-size: 14px;
	}
}